@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'RubikMedium';
    src: url('fonts/Rubik-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'RubikLight';
    src: url('fonts/Rubik-Light.ttf') format('truetype');
    font-display: swap;
}